/* Default Styling Reset  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: teal;
}

header {
  background-color: white;
  font-size: 2rem;
  text-align: center;
  height: 90px;
}
/* Player And computer Score-board */
.score-board {
  background-color: rgb(76, 76, 138);
  height: 100px;
  width: 200px;
  display: flex;
  margin: 0.5rem auto;
  border: 0.3rem solid black;
  border-radius: 5px;
  position: relative;
  justify-content: center;
  align-self: center;
}

.badge {
  background-color: red;
  border: 3px solid black;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.1rem;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -35px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -55px;
}

.score-counter {
  position: absolute;
  top: 25px;
  font-weight: 600;
  font-size: 2rem;
}
/* Result Choice */
.result {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  height: 90px;
}
/* Rock Paper Scissors Selection Section */
.choices {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice {
  background-color: #4c4c8a;
  border: 5px solid black;
  border-radius: 50%;
  margin: 1rem;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.choice:hover {
  transition: all 0.3s ease;
  background-color: red;
}
.choice img {
  height: 150px;
  width: 150px;
}

#action-message {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
